Repository liquity/ChickenBond, pull requests merged in 2022-10, with the labels that each got.

#242 test: Add tests for after mainnet deployment
  LUSDChickenBonds/src/test/ChickenBondManagerMainnetChickenInAfterDeployment.t.sol
  LUSDChickenBonds/src/test/TestContracts/MainnetTestSetup.sol
Labels: backend, test

#244 feat: Add Curve zap contract to add liquidity to internal AMM
  .github/workflows/contracts.yml
  LUSDChickenBonds/src/BLUSDLPZap.sol
  LUSDChickenBonds/src/ExternalContracts/MockCurvePool.sol
  LUSDChickenBonds/src/ExternalContracts/Testnet/Overlord.sol
  LUSDChickenBonds/src/ExternalContracts/Testnet/Underling.sol
  LUSDChickenBonds/src/Interfaces/ICurveCryptoPool.sol
  LUSDChickenBonds/src/Interfaces/ICurvePool.sol
  LUSDChickenBonds/src/test/BLUSDLPZap.t.sol
  LUSDChickenBonds/src/test/TestContracts/MainnetTestSetup.sol
Labels: enhancement, backend

#245 feat: Add remove liquidity functions to bLUSD Zap contract
  LUSDChickenBonds/src/BLUSDLPZap.sol
  LUSDChickenBonds/src/ExternalContracts/MockCurvePool.sol
  LUSDChickenBonds/src/Interfaces/ICurveCryptoPool.sol
  LUSDChickenBonds/src/Interfaces/ICurvePool.sol
  LUSDChickenBonds/src/test/BLUSDLPZap.t.sol
Labels: enhancement, backend

#250 fix: Fix broken CI, Curve Gauge Manager Proxy changed
  LUSDChickenBonds/src/Interfaces/ICurveLiquidityGaugeV5.sol
  LUSDChickenBonds/src/test/BLUSDLPZap.t.sol
  LUSDChickenBonds/src/test/ChickenBondManagerMainnetOnlyTest.t.sol
  LUSDChickenBonds/src/test/TestContracts/Interfaces/ICurveGaugeManagerProxy.sol
  LUSDChickenBonds/src/test/TestContracts/MainnetTestSetup.sol
Labels: backend, test

#251 fix: No need to approve LP tokens to remove liquidity
  LUSDChickenBonds/src/BLUSDLPZap.sol
Labels: backend

#246 CI/CO NFT artwork upgrade
  LUSDChickenBonds/bindings/deployments/goerli.json
  LUSDChickenBonds/bindings/deployments/rinkeby.json
  LUSDChickenBonds/bindings/scripts/fuzzy-eggs.ts
  LUSDChickenBonds/bindings/scripts/generate-types.ts
  LUSDChickenBonds/bindings/scripts/run-fuzzy-eggs.sh
  LUSDChickenBonds/bindings/src/contracts.ts
  LUSDChickenBonds/bindings/src/deployment.ts
  LUSDChickenBonds/src/NFTArtwork/BondNFTArtworkBase.sol
  LUSDChickenBonds/src/NFTArtwork/BondNFTArtworkSwitcher.sol
  LUSDChickenBonds/src/NFTArtwork/ChickenInArtwork.sol
  LUSDChickenBonds/src/NFTArtwork/ChickenInData.sol
  LUSDChickenBonds/src/NFTArtwork/ChickenInGenerated.sol
  LUSDChickenBonds/src/NFTArtwork/ChickenInTraitWeights.sol
  LUSDChickenBonds/src/NFTArtwork/ChickenOutArtwork.sol
  LUSDChickenBonds/src/NFTArtwork/ChickenOutData.sol
  LUSDChickenBonds/src/NFTArtwork/ChickenOutGenerated.sol
  LUSDChickenBonds/src/NFTArtwork/ChickenOutTraitWeights.sol
  LUSDChickenBonds/src/NFTArtwork/CommonData.sol
  LUSDChickenBonds/src/test/ChickenInTraitWeightTest.t.sol
  LUSDChickenBonds/src/test/ChickenOutTraitWeightTest.t.sol
  LUSDChickenBonds/src/test/TestContracts/ChickenInTraitWeightsWrap.sol
  LUSDChickenBonds/src/test/TestContracts/ChickenOutTraitWeightsWrap.sol
  tools/rubber-chicken-farm/src/utils/tinker.ts
  tools/scrambled-eggs/package.json
  tools/scrambled-eggs/scripts/generate-solidity.ts
  tools/scrambled-eggs/scripts/tsconfig.json
  tools/scrambled-eggs/src/svg/chickenIn.ts
  tools/scrambled-eggs/src/svg/chickenOut.ts
  tools/scrambled-eggs/src/svg/scaling/chickenIn.ts
  tools/scrambled-eggs/src/svg/scaling/chickenOut.ts
  tools/scrambled-eggs/src/svg/scaling/common.ts
  tools/scrambled-eggs/yarn.lock
Labels: backend

#257 test: Add test for LUSD CB B.Protocol harvest arbitrage
  LUSDChickenBonds/src/test/HarvestBProtocolTest.t.sol
Labels: test

#258 test: Add test for impact of LUSD deposit into LUSD/3CRV pool
  LUSDChickenBonds/src/test/DepositLUSDIntoCurveTest.t.sol
Labels: test
